<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.FatieMapper">

	<select id="findAllFatie"  resultType="pojo.Fatie">
		select id,username,texthead,text,dateTime from fatie
	</select>
	<insert id="addFatie" parameterType="pojo.Fatie">
		insert into fatie(username,texthead,text,dateTime) values (#{username},#{texthead},#{text},#{dateTime}) 
	</insert>
	<!-- 通过ID查找帖子 -->
	<select id="findFatieById" parameterType="long" resultType="pojo.Fatie">
		select id,username,texthead,text,dateTime from fatie where id=#{id}
	</select>
	
	<select id="findFatieByName" parameterType="String" resultType="pojo.Fatie">
		select id,username,texthead,text,dateTime from fatie where username like "%${value}%"
	</select>
	
	<delete id="deleteFatieById" parameterType="long">
		delete from fatie where id=#{id}
	</delete>
</mapper>